
<%= form_with(model: course, local: true, html: {class: 'form-horizontal'}  ) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="field form-group">
    <%= form.label :title , class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= form.text_field :title, id: :course_title, class: 'form-control' %>
    </div>
  </div>
 
  <div class="actions form-group">
   <div class="col-sm-offset-2 col-sm-10">
    <%= form.submit 'Submit', :class=> 'btn btn-primary'%>
    </div>
  </div>
<% end %>
